<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Thymeleaf 링크 처리 : th:href 활용 예제</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			<a th:href="@{/sample/exView}">[[${dto}]]</a>
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf 링크 처리 : th:href 활용 예제 - path이용 파라미터 추가</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			<a th:href= "@{/sample/exView3/{sno}(sno=${dto.sno})}">[[${dto}]]</a>
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf 링크 처리 : th:href 활용 예제 - path이용 파라미터 추가</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			<a th:href = "@{/sample/exView3/{sno}(sno=${dto.sno})}">[[${dto}]]</a>
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf 기본객체 #numbers 활용</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			[[${#numbers.formatInteger(dto.sno,5)}]]
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf $temporals 활용, 날짜 포맷 설정</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			[[${dto.sno}]] --- [[${#temporals.format(dto.regTime,'yyyy/MM/dd')}]]
		</li>
	</ul>
	


</body>
</html>